@model TeamKismetMathGame.Models.AdditionQuestion
@{
    ViewBag.Title = "AdditionPage";
}

<style>
    .myInput{
        width: auto;
        margin: 5px 10px;
        display:inline;
    }
</style>

<h2>Addition Game</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="display:inline-block;">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <span class="label label-default" style="font-size:28px;">@ViewBag.RNG</span>
                <span class="label label-default" style="font-size:28px;"> + </span>
                @Html.EditorFor(model => model.AddInput, new { htmlAttributes = new { @class = "form-control myInput" } })
                <span class="label label-default" style="font-size:28px;"> = @ViewBag.Answer </span>
            </div>
            <br/><br/><br/>
            <span class="label label-default" style="font-size:28px;"> @ViewBag.AP AP</span>
            @Html.ValidationMessageFor(model => model.AddInput, "", new { @class = "text-danger" })
                <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br /><br />
                    <input type="submit" value="submit" name="Submit" class="btn btn-default" />
                </div>
            </div>
            </div>
        </div>
            }
            <div class="btn btn-default">
                @Html.ActionLink("Subtraction Game", "SubtractionPage", "Home")
            </div>

            <div>
                @Html.ActionLink("Back to Login", "StudentLogin", "Home")
            </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/jqueryval")
            }
